option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "5000"
    DB: "host=vyouz-db.c5axzaqfz7kc.eu-west-2.rds.amazonaws.com user=postgres password=TOBBYAS2 dbname=postgres port=5432 sslmode=prefer"
    PROJECT_NAME: "Vyouz"
    JWT_SECRET: "vyouz_super_secret"
    EMAIL_SENDER_NAME: "Go-auth"
    EMAIL_SENDER_ADDRESS: "tips.tell.africa@gmail.com"
    EMAIL_SENDER_PASSWORD: "cllohurtneydjpfj"
    MAILGUN_APIKEY: "f07f8a17bf0074e1acacf1640ec7fa98-e5475b88-01245e55"
    MAILGUN_DOMAIN: "sandbox0dbfa1d28734493fa7f71541fcfd6724.mailgun.org"
    MAILGUN_EMAIL: "hello@sandbox0dbfa1d28734493fa7f71541fcfd6724.mailgun.org"
    MJ_APIKEY_PUBLIC: "163f78b5e94ced7d443921b87442300a"
    MJ_APIKEY_PRIVATE: "3193f95a755c3a2094416b24319ca4d1"
    PROD: "postgres://jheueogs:QjkWGA6HG6McJZamirvhVsLpbHnaa_8V@kandula.db.elephantsql.com/jheueogs"
